
.hi {
    margin-top: 20px;
    color: #9461D6;
    font-family: 'Playfair Display', serif;
    
}
.he {
    margin-top: 150px;
    color: #9461D6;
    font-family: 'Mate SC', serif;
    font-size:40px;
    
    
}
.sub {
    margin-top: 20px;
    color: #9461D6;
    font-family: 'Playfair Display', serif;
    font-size:20px;
}
.im {
    margin-top: 80px;
}

.bg {
    height: auto;
    width: 100%;
}

.lines {
    width:100%;
   text-align:center;
    color: #9461D6;
    height: 0.8px;
    background-color:#9461D6;
}

.fab , .ico , .far{
    font-size: 22px;
    color: #9461D6;
    margin-bottom: 20px;
   
    
}


  

.icons {
    margin-top: auto;
    margin-bottom: 20px;
}
.back {
    background-color: white;
height: 100vh;
width: 100%;
  background-repeat: no-repeat;
  background-size: cover;  
  overflow: hidden;
}

.co {
    color:black !important;
    text-decoration:none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
@media screen and (max-width:766px) {
    .he, .hi, .sub {
        margin-top: 30px;
        font-size: 18px;
    }

}
@media screen and (max-width:766px) {
    .hi, .sub {
        margin-top: 5px;
        font-size: 14px;
    }

}
body {
    text-align: center;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}


.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
.glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }
  
 
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }


  
  

  .bd1 {
    background-color:#9461D6;
    color:white;
    cursor: pointer;
    font-weight:200;
    
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }