.wk {
    margin-top: 40px;
}
.liinee {
    width:20%;
   text-align: center;
    color: #9461D6;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:#9461D6;
}
.linees {
    width:30%;
   text-align: center;
    color: #9461D6;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color:#9461D6;
}
.cards {
    margin-bottom: 20px;
    border:none;
}
.text-muted {
    border:none;
}
.li {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.cd {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.24);
-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.109);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.22);
}

.cd:hover {
    box-shadow: 10px 10px 5px 0px rgba(84, 46, 113, 0.363);
-webkit-box-shadow: 10px 10px 5px 0px rgba(84, 46, 113, 0.410);
-moz-box-shadow: 10px 10px 5px 0px rgba(84, 46, 113, 0.308);
}
.h {
    max-height: 350px;
    width:auto;

}
.hl {
    height: auto;
    
}

.mod {
    width:100%;
    height:auto;
}
.bd {
    background-color:#9461D6;
    color:white;
    cursor: pointer;
}



.mod {
    width:100%;
    height:auto;
    
}
a:active {
    color:white;
}
a:visited {
    color:white;
}
a:link {
    color:white;
}

